@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* span error text sm*/
.error {
  font-size: small;
  color: #db0e0e;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

table.table-bordered {
  border: 1px solid #ddd;
  border-spacing: 0;
  border-radius: 5px;
}

table.table-bordered tfoot td {
  border-top: 1px solid #ddd;
  font-weight: 600;
}

table.table-bordered th {
  border-right: 1px solid #ddd;
  font-weight: 600;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

table.table-bordered th:last-child {
  border-right: none;
}

table.table-bordered td {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

table.table-bordered td:last-child {
  border-right: none;
}

table.table-bordered tr:last-child td {
  border-bottom: none;
}

.input-border-none {
  border: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.input-border-none:focus {
  outline: none;
  border: none;
}

.input-border-none:hover {
  border: none;
}

.container-sm {
  max-width: 640px;
  margin: auto;
  position: relative;
}

.navbar-mobile {
  @apply p-5 justify-between flex fixed top-0 left-0 right-0 bg-[#f9f9f9];
  max-width: 640px;
  margin: auto;
  z-index: 10;
}

.navbar-mobile .navbar-action {
  @apply flex gap-4;
}

.content-mobile {
  z-index: 1;
}

.text-dimmed {
  color: #878787;
  margin: 0px;
  padding: 0px;
}

.text-color-primary {
  color: #53c2c5;
}

.footer-mobile {
  position: fixed;
  background-color: white;
  bottom: 0;
  max-width: 640px;
  padding: 1.25rem;
  box-shadow: 0px 0px 5px #dbdbdb;
}

.footer-mobile .nav-link-item {
  @apply text-[#878787] focus:text-[#53c2c5] hover:text-[#53c2c5];
}
