@tailwind components;
@tailwind utilities;
// @tailwind base;

// TAILWIND
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* span error text sm*/
.error {
  font-size: small;
  color: rgb(219, 14, 14);
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
table.table-bordered {
  border: 1px solid #ddd;
  border-spacing: 0;
  border-radius: 5px;
  tfoot {
    td {
      border-top: 1px solid #ddd;
      font-weight: 600;
    }
  }

  th {
    border-right: 1px solid #ddd;
    font-weight: 600;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    &:last-child {
      border-right: none;
    }
  }

  td {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px;
    &:last-child {
      border-right: none;
    }
  }
  //last tr border none
  tr:last-child td {
    border-bottom: none;
  }
}
//input border hide
.input-border-none {
  border: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  &:focus {
    outline: none;
    border: none;
  }
  &:hover {
    border: none;
  }
}
